@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200-700');

/* Add your CSS styles here */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px;
  }
  .profile {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #cccccc00;
    overflow: hidden; /* Clear floats */
  }
  .profile:hover{
    box-shadow: 0 0 5px #8a8a8a98, 0 0 10px #ffffff9f, 0 0 21px rgba(56, 133, 188, 0.664), 0 0 20.5px rgba(118, 53, 164, 0.674),0 0 23px rgba(0, 255, 170, 0.614);
    transition: 300ms;
  }
  .profile:not(:hover){
    transition: 1000ms;
  }
  .profile img {
    width: 150px;
    height: auto;
    border-radius: 10%;
    margin-right: 20px;
    float: left;
  }
  .profile-info {
    overflow: hidden; /* Clear floats */
  }
  .profile-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .profile-info p {
    margin: 0;
    margin-bottom: 10px;
  }
  .ln {
    text-align: left;
  }
  .lng {
    text-align: left;
    opacity: 70%;
  }
  .gh {
    text-align: right;
  }
  p{
    text-align: left;
  }
  
  