  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  h1{
    color: white;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 10px;
  }
  .b:hover {
    text-shadow: 0 0 10px #8a8a8a, 0 0 20px #fff, 0 0 42px rgb(56, 133, 188), 0 0 82px rgb(117, 53, 164),0 0 92px #0fa;
  color: rgb(255, 255, 255);	
  transition: 300ms;
   }
   .b:not(:hover) {
    text-shadow: 0 0 5px #8a8a8a54, 0 0 10px #ffffff51, 0 0 21px rgba(56, 133, 188, 0.453), 0 0 20.5px rgba(118, 53, 164, 0.417),0 0 23px rgba(0, 255, 170, 0.471);
  color: rgb(255, 255, 255);	
    transition: 1000ms;
   }